@import 'mixin.scss';
@import 'colors.scss';

//játék "kártya"
.game {
  display: inline-block;
  position: relative;
  left: 50%;
  width: 800px;
  height: 800px;
  margin-top: 0;
  z-index: 4;
  transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  border-radius: 2vh;
  text-align: center;
  font: 700 100% 'syncopatebold', sans-serif;
  color: $white;
  @include text-shadow-3d-small;
  perspective: 1000px;
  transition: all 0.5s;
  @media (max-width: 810px) {
    width: 97%;
  }
  @media (max-device-width: 810px) {
    width: 97%;
  }

  //kártya eleje, hátulja
  &__front,
  &__back {
    display: table;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 400ms;
    transition-timing-function: linear;
    border-radius: 10px;
    box-shadow: 0 15px 80px -15px $shadow--light, 0 55px 50px -35px $shadow--light;
  }

  //kártya eleje
  &__front {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 800px;
    transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    background: $background-app;
    margin-bottom: 30px;

    //játék információi
    &__info {
      position: relative;
      height: auto;;

      //fő kép
      &__img {
        border-radius: 0.3em;
        margin: 0 10px 10px;
        max-width: 75%;
        max-height: 270px;
        transition: all 400ms;
        &:hover {
          background: rgba($white, 1);
          transform: scale(1.3);
          -moz-transform: scale(1.3);
        }
      }

      //játék leírás
      &__description {
        margin: 0 30px;
        padding: 9px;
        text-align: left;
        font-family: 'robotoregular', Arial, sans-serif;
        font-weight: 400;
        font-size: 110%;
        line-height: 1.2;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
        p {
          text-indent: 5px;
          margin: 5px 5px;
        }
        @media (max-width: 500px) {
          font-size: 95%;
        }
      }

      //játék fejléce
      &__header {
        position: relative;
        background: rgba(0, 0, 0, 0.2);
        overflow: hidden;
        border-radius: 10px 10px 0 0;
        padding-bottom: 10px;

        @media (max-width: 500px) {
          .title {
            font-size: 110%
          }
          .level {
            font-size: 100%
          }
        }

        //cím
        .title {
          display: inline-block;
          margin-top: 20px;
          text-transform: uppercase;
        }

        //szintek
        .level {
          margin: 5px 10px;
          text-transform: uppercase;
        }
      }

      //kérdés
      &__question {
        text-align: center;
        margin: 10px 75px;
        font-family: 'robotoregular', Arial, sans-serif;
        font-size: 120%;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
      }
    }

    //interakciós felület
    &__board {
      width: 100%;
      p {
        margin-top: 0;
        margin-bottom: 15px;
        line-height: 20px;
        text-transform: uppercase;
        font-size: 110%;
        text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
        img {
          position: relative;
          top: 5px;
          border-radius: 3px;
          margin: 0 1px;
        }
      }
    }
    &--time { //kártya eleje időre játszásnál
      animation: blueNeonSmall 1.5s ease-in-out infinite alternate;
    }
    &--test { //kártya eleje tesztnél
      animation: purpleNeonSmall 1.5s ease-in-out infinite alternate;
    }
  }

  //kártya hátulja
  &__back {
    height: 100% !important;
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);

    &--right {
      background: linear-gradient(to bottom right, #009970, #84DD63);
      animation: greenNeon 1.5s ease-in-out infinite alternate;
      cursor: pointer;
      .game__back__content {
        @media (max-width: 500px) {
          img {
            width: 300px;
          }
        }
      }
    }

    &--wrong { //helytelen válasz esetén
      background: linear-gradient(to bottom right, #992020, #dd4347);
      animation: redNeon 1.5s ease-in-out infinite alternate;
      cursor: pointer;
      .game__back__content {
        font-size: 3500%;
        @media (max-width: 500px) {
          font-size: 2000%;
        }
      }
    }

    &--info { //időre játszásnál, ha lejárt az idő
      background: linear-gradient(to bottom right, #1f7ddb, #6cb6db);
      animation: blueNeon 1.5s ease-in-out infinite alternate;
      .game__back__content {
        width: 80%;
        padding: 20px;
        font-size: 300%;
        text-transform: uppercase;
        @include text-shadow-3d-small;
        line-height: 80px;
        @media (max-width: 500px) {
          font-size: 170%;
        }
      }
    }

    &--start { //kezdő, üdvözlő felület
      background: linear-gradient(to bottom right, $green, $turquoise);
      animation: none;
      .game__back__content {
        width: 80%;
        .startUI {
          &__welcome {
            margin-bottom: 40px;
            font-size: 200%;
            text-transform: uppercase;
            @include text-shadow-3d-small;
            line-height: 50px;
            @media (max-width: 500px) {
              font-size: 120%;
            }
          }
          &__info {
            margin: 10px 0;
            font-family: 'robotoregular', Arial, sans-serif;
            font-size: 110%;
            line-height: 1.2;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
          }
          &__start {
            @include button($green);
            display: block;
            position: relative;
            margin: 50px auto 0;
            padding-top: 15px;
            width: 180px;
            height: 40px;
            font-size: 160%;
          }
        }
      }
    }

    &--test { //tesztnél
      background: linear-gradient(to bottom right, #8e44ad, #cf66ff);
      animation: purpleNeon 1.5s ease-in-out infinite alternate;
      .game__back__content {
        width: 80%;
        .testUI {
          &__text {
            padding: 0 20px;
            margin: 20px 0;
            font-size: 250%;
            text-transform: uppercase;
            @include text-shadow-3d-small;
            line-height: 55px;
            @media (max-width: 500px) {
              font-size: 170%;
            }
          }
          input {
            padding: 3px;
            font-size: 120%;
            border-radius: 6px;
          }
          &__send {
            @include button($green);
            display: block;
            position: relative;
            margin: 20px auto;
            padding-top: 10px;
            width: 160px;
            height: 40px;
            font-size: 160%;
          }
        }
      }
    }

    &__content {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      text-shadow: none;
    }
  }

  &--flip &__front {
    transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
  }
  &--flip &__back {
    transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
  }

}
