@import '../fonts/fontkit/stylesheet.css';
@import 'mixin.scss';
@import 'colors.scss';
@import 'button.scss';
@import 'game.scss';
@import 'dropBox.scss';
@import 'checkbox.scss';
@import 'menu.scss';
@import 'test.scss';

::-webkit-scrollbar {
  display: none;
}

body {
  background: darken($turquoise,12%);
  background-size: cover;
  overflow-x: hidden;
  margin: 0;
  font-size: 16px;
}

.app {
  //Ehod cím
  &__title {
    position: relative;
    z-index: 2;
    margin: 5px 0 15px;
    font: 700 80px 'syncopatebold', sans-serif;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    @include text-shadow-3d-big;
  }
  //háttérkép
  &__bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}