@import 'mixin.scss';
@import 'colors.scss';

//dropboxok felülete
.dnd {
  position: relative;
  width: 83%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto 50px;
  text-align: -webkit-center;
  justify-content: center;
}

//egy dropbox által elfoglalt terület
.flexBox {
  position: relative;
}

//dropbox mező
.dropBox {
  @include box;
  display: inline-block;
  margin: 5px 0;
  box-shadow: 0 0 20px 0 $blue inset, 0 0 0 0 $blue;
  transition: box-shadow 150ms ease-in-out;

  //mező, melyben van mozgatható elem
  &--source {
    &:hover {
      box-shadow: 0 0 10px 0 $blue inset, 0 0 50px 5px $blue;
    }
  }

  //üres mező
  &--target {
    box-shadow: 0 0 10px 0 $green inset, 0 0 0 0 $green;
    opacity: 0.6;
    //üres mező melybe készülünk elhelyezni egy mozgatható elemet
    &.dropBox--overlay {
      opacity: 0.9;
      box-shadow: 0 0 10px 0 $green inset, 0 0 50px 5px $green;
    }
  }
  //vertikális elhelyezés esetén mezők
  &--vertical {
    display: block;
    position: relative;
    border-radius: 0.4em;
    height: 55px;
    width: 55px;
    margin: 0 auto;
  }
}

//mozgatható elem
.element {
  @include box;
  box-shadow: 0 0 20px 0 $blue inset, 0 0 0 0 $blue;
  transition: box-shadow 150ms ease-in-out;
  &:hover {
    box-shadow: none;
  }
  //vertikális elhelyezés esetén elemek
  &--vertical {
    border-radius: 0.4em;
    height: 55px;
    width: 55px;
  }
}